<a href="https://colab.research.google.com/github/Mattoirfan/Gender-Recognition-by-voice-using-Machine-Learning/blob/main/Airbnb_project_using_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Project Name**    -Airbnb

# ##### **Project Type**    - exploratory data analysis/EDA
 **Contribution**    - **Individual**
 ##### **Team Member ":   Irfan Ali Matto

## project **summary**

### Airbnb is an online marketplace and hospitality platform that enables people to rent out their properties or spare rooms to travelers seeking accommodation.
### The concept of Airbnb is centered around connecting hosts and guests, allowing travelers to find unique and affordable accommodations in various destinations worldwide. The platform provides a user-friendly interface where hosts can create listings, including detailed descriptions, photos, and pricing information for their properties. Guests can then browse these listings, read reviews from previous visitors, and make bookings directly through the Airbnb website or mobile app
### **One of the key features of Airbnb is its emphasis on offering diverse and distinctive lodging options. From traditional houses and apartments to unconventional spaces like treehouses, yurts, and boats, Airbnb caters to a wide range of preferences and budgets. This aspect has contributed to its popularity among travelers seeking more personalized and immersive experiences**

# **GitHub Link -**

Provide your GitHub Link here.

> Indented block

> Indented block

# **Problem Statement**

## Since 2008 guest and hosts used airbnb to expand on travelling  possibilities and present a more unique personalized way of experiencing the world.Today Airbnb become one of a kind service that is used and recignize by the whole world. Data analysis on millions of listing provided through airbnb is a crucial factor for the company. These millions of generating the lot of data - data that can be analyzed and used for security business discussion, understanding the custommers and providers (host) behaviour and performance on the guiding marketing initiatives. Implementation on innovative additional services and much more. This dataset has arround 49000 observations in it with 16 columns and it is a mix of categorical and numerical values.  Explore and analyze the data  to discover key understandings.

# **Understanding the datasets**
```




### > Id  :     Unique id

## > Name : Name of the listing

## > Host_id : unique host id

## > Host_name : name of the host

## > Neighbourhood_group  :location

## > neighbourhood : area

## > latitude :  latitude range

## > longitude  : longitude range

## > room_type   :    types of rooms

## > price  :  price of listing

## > minimum_nights   :   minimum nights to be paid for

## > Number_of_reviews  :   number of reviews

## > Last_reviews  :   content of the last review

## > review_per_month  :   number of checks per month

## > calculate_host_listing_count  :   total count

## > availability_365   : available round the year

# ***Let's Begin !***

## ***1. Know Your Data***

### Import Libraries

In [ ]:
# Import Libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
plt.rcParams['figure.figsize'] = (10, 7)

### Dataset Loading

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
# Load Dataset
df=pd.read_csv('/content/Airbnb NYC 2019.csv')

### Dataset First View

In [ ]:
# Dataset First Look
df.head()

In [ ]:
#view datasets on tail
df.tail()

### Dataset Rows & Columns count

In [ ]:
# Dataset Rows & Columns count
df.shape

### Dataset Information

In [ ]:
# Dataset Info
df.info()

#### Duplicate Values

In [ ]:
# Dataset Duplicate Value Count
df.duplicated().sum()

#### Missing Values/Null Values

In [ ]:
# Missing Values/Null Values Count
df.isnull().sum()

In [ ]:
# Visualizing the missing values
pd.set_option('display.max_rows', None)
plt.figure(figsize=(12,10))
sns.heatmap(df.isnull(), cbar=False)
plt.show()

## ***2. Understanding Your Variables***

In [ ]:
# Dataset Columns
df.columns

In [ ]:
# Dataset Describe
df.describe()

### Variables Description

in this datasets we have 16 columns and we have48895 rows
columns  : ['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
some of columns  are like neighborhood_group is location where the customers are visited and sisimilarly room_type and other columns

## 3. ***Data Wrangling***

### Data Wrangling Code

In [ ]:
# Write your code to make your dataset analysi
df.duplicated().sum()
df.drop_duplicates(inplace=True)
df.isnull().sum()

In [ ]:
#remove all the null and duplicate values from the dataset
df.dropna(inplace=True)
df.isnull().sum()

In [ ]:

#remove unnecessary columns from datasets
df.drop(['id', 'name','latitude', 'longitude','last_review'],inplace=True,axis=1)
df.head()

In [ ]:
#after removing some columns i will use describe function to getting the statistical values
df.describe()

### What all manipulations have you done and insights you found?

 first i did sum of all null values and i plot a heatmap for visualize and theen i drop all the null and duplicated values from the datasets i removed some unnecessary columns from the datasets

## ***4. Data Vizualization, Storytelling & Experimenting with charts : Understand the relationships between variables***

#1 What is the average price of room and at which location has the average price

#### Chart - 1 barplot

In [ ]:
# Chart - 1 visualization code
#types of rooms
room_type=df['room_type'].unique()
room_type

In [ ]:
#what is the average prefered price by customer according to the location
avg_price=df.groupby(['neighbourhood_group','room_type'],as_index=False)[ 'price'].mean().rename(columns={'neighbourhood_group':'location', 'price':'avg_price'})

In [ ]:
avg_price

In [ ]:
avg_price=df.groupby(['neighbourhood_group','room_type'])['price'].mean().unstack()

In [ ]:
avg_price

In [ ]:
#implement the barplot
avg_price.plot.bar()

## the average price of the  manhattan is above 200 the room type is entire hom or **apt**

## 2 #Which of the  Most popular location to spent the nights

#### Chart - 2

In [ ]:
# Chart - 2 visualization code
nights_spent= df.groupby('neighbourhood_group',as_index=False)['minimum_nights'].sum().reset_index().rename(columns={'neighbourhood_group':'location'})

In [ ]:
nights_spent

In [ ]:
#Implement the Barplot
sns.set(rc={'figure.figsize':(10,5)})
sns.set_style('white')
a=sns.barplot(x='location',y='minimum_nights',data=nights_spent)
a.set_title('maximum nights spent at locations',weight='bold')
a.set_ylabel('minimum_nights',weight='bold')
a.set_xlabel('location',weight='bold')
a.set_xticklabels(a.get_xticklabels(),weight='bold',rotation=45,size='15')

# [manhattan is the most popular place where the most customers are spending there nights]

## > brooklyn is the second destination where the customers are prefered to spent their nights

#### Chart - 3

##3  find the most prefered room  by the customers to spend their nights

In [ ]:
# Chart - 3 visualization code
#find the total types of rooms
df['room_type'].unique()

In [ ]:
#which rooms is mostly prefered
prefered_rooms=df.groupby('room_type')['minimum_nights'].sum().reset_index()
prefered=prefered_rooms.sort_values('minimum_nights',ascending=True)
prefered

In [ ]:
#create datasets
labels=list(prefered['room_type'])
#choose the size
sizes=list(prefered['minimum_nights'])
#choose the colors
colors=['red','green','orange']
# create explode
explode = (0.07, 0.07, 0.07)

In [ ]:
#creating pie chart
plt.pie(sizes,explode=explode,labels=labels,colors=colors,autopct='%1.1f%%',shadow=True)
plt.title('most prefered rooms',fontsize=20)
plt.axis('equal')
plt.show()

# [The most customers prefered the 'Entire home/aprt' which is arround 63.2%]

# > The second preference for the customers  is to private rooms which is around 35%

## > which means the customer does not mostly sharing rooms

#### Chart - 4

# 4  reviews given by the customer for location

In [ ]:
# Chart - 4 visualization code
best_location=df.groupby( 'neighbourhood_group',as_index=False)[ 'number_of_reviews'].sum().reset_index().rename(columns={'neighbourhood_group':'location'})
max_reviews=best_location.sort_values(['number_of_reviews'],ascending=False)
max_reviews

In [ ]:
#implement the bar graph
sns.set(rc={'figure.figsize':(10,5)})
sns.set_style('darkgrid')
a=sns.barplot(x='location',y='number_of_reviews',data=max_reviews)
a.set_title('best location reviews')
a.set_ylabel('location',weight='bold')
a.set_xlabel('number_of_reviews',weight='bold')
a.set_xticklabels(a.get_xticklabels(),rotation=45,size='15')

## Brooklyn has the highest number of reviews  so it means the customers mostly gives the best  reviews

#### Chart - 5

# 5  which location has the highest price

In [ ]:
# Chart - 5 visualization code
prices=df.groupby('neighbourhood_group',as_index=False)['price'].mean().reset_index().rename(columns={'neighbourhood_group':'location'})
highest_price=prices.sort_values(['price'],ascending=False)
highest_price

In [ ]:
#create datasets
labels=list(highest_price['location'])
#choose the size
sizes=list(highest_price['price'])
#choose the colors
colors=['orange','skyblue','red','green','yellow']
#create the explodes
explode=(0.07,0.07,0.07,0.07,0.07)

In [ ]:
#implement the pie chart
plt.pie(sizes,explode=explode,labels=labels,colors=colors,autopct='%1.1f%%',shadow=True)
plt.title('highest price of location',fontsize=(20))
plt.axis('equal')
plt.show()

## Brooklyn has the highest number of reviews  so it means the customers mostly gives the best  reviews

#### Chart - 6

## 6 What is the relationship between neighborhood groups and availability of rooms

In [ ]:
# Chart - 6 visualization code
plt.figure(figsize=(10,10))
sns.set_style('white')

ax = sns.boxplot(data=df, x='neighbourhood_group',y='availability_365',palette='plasma')

# Naming the Chart
ax.set_title('Relation between Neighbourhood group & Availability of rooms').set_fontsize('15')

# Naming X & Y axis
ax.set_ylabel('Availability 365 Days').set_fontsize('15')
ax.set_xlabel('Neighbourhood Group').set_fontsize('15')

#Adjusting Bar labels
ax.set_xticklabels(ax.get_xticklabels(), size = '15')

## Staten island has the highest nnumber of rooms which are available

#### Chart - 7

## 7 :  Where the customer pays the highest and lowest rent according to location

In [ ]:
# Chart - 7 visualization code
#first we will remove those rows which has the 0 price  so will drop the zero value rows by using drop function
price_drop=df.drop(df[df['price']==0].index,inplace=True)

In [ ]:
#to check the  price column weather those values are removed r not
df.price.min()

In [ ]:
max_price= df.groupby('neighbourhood_group',as_index=False)['price'].max().sort_values(['price'],ascending=False).rename(columns={ 'neighbourhood_group':'location','price':'max_price'})
max_price

In [ ]:
min_price= df.groupby('neighbourhood_group',as_index=False)['price'].min().sort_values(['price'],ascending=True).rename(columns={ 'neighbourhood_group':'location','price':'min_price'})
min_price

In [ ]:
merge_prices=pd.merge(max_price,min_price,on='location')
merge_prices

In [ ]:
#Create a copy of merge price dataframe
merge_prices_copy = merge_prices.copy()

In [ ]:
#Create a function for log transformation of maximum price and minimum price
def log_values(values):
  #'''This function takes a price value as a input and give it's log values'''
  new_max_price = np.log2(values)
  return new_max_price

In [ ]:
merge_prices_copy['max_price'] = merge_prices_copy.apply(lambda x: log_values(x['max_price']), axis=1)
merge_prices_copy['min_price'] = merge_prices_copy.apply(lambda x: log_values(x['min_price']), axis=1)

In [ ]:
merge_prices_copy

In [ ]:
#Bar graph for display maximum price and minimum price according to location
merge_prices_copy.plot(x="location", y=['max_price','min_price'], kind="bar")
plt.legend(labels = ['max_price','min_price'])
plt.title('Maximum and minimum price according to location')

# **according to the graph we have seen clearly that the  [Brooklyn , Queens and Manhattan ] has the same price which means the customer pays the highest prices in those places which means those places are demanded places**
# [Broonx ,Staten island ] are not the demandaed places which i have mentioned above

#### Chart - 8

# No. of active host per location (Where most of the host focused to own property)

In [ ]:
# Chart - 9 visualization code
#Apply group by operation on neighbourhood_group for find the number of host according to location
no_of_host_per_location =df.groupby('neighbourhood_group',as_index=False)['host_id'].count().sort_values(['host_id'], ascending=False).rename(columns={'neighbourhood_group':'Location','host_id':'Host'})
no_of_host_per_location

In [ ]:
#Take a simple format of above question without index for plot the line chart
no_of_host_per_location =df.groupby('neighbourhood_group')['host_id'].count()
no_of_host_per_location

In [ ]:
#Graph
plt.legend(labels = ['No. of Host'])
plt.plot(no_of_host_per_location)
plt.title('Number of host per location')
plt.ylabel('Host')
plt.xlabel('Location')

# Manhattan  is the place where the number of hosts are active  and grow their businesses

#### Chart - 9

# Most Popular/demanded host of Airbnb in New york

In [ ]:
# Chart - 10 visualization code
review_host=df.groupby(['host_id','host_name'],as_index=False)['number_of_reviews'].sum().sort_values(['number_of_reviews'],ascending=False)
review_host

In [ ]:
availability=df.groupby(['host_id','host_name'],as_index=False)['availability_365'].sum().sort_values(['availability_365'],ascending=True)
availability

In [ ]:
#Merge two dataframe based on number of reviews and availability in a year
popular_host= pd.merge(review_host,availability,on = ['host_id','host_name']).sort_values(['availability_365','number_of_reviews'],ascending = [True,False]).rename(columns = {'number_of_reviews':'Number of reviews','availability_365':'Availability in a year'})
popular_host

In [ ]:
#Merge two dataframe based on number of reviews and availability in a year
popular_host= pd.merge(review_host,availability,on = ['host_id','host_name']).sort_values(['availability_365','number_of_reviews'],ascending = [True,False]).rename(columns = {'number_of_reviews':'Number of reviews','availability_365':'Availability in a year'})
popular_host

In [ ]:
#Create scatter plot based on number of reviews and availability in a year
popular_host.plot.scatter(x='Number of reviews', y='Availability in a year', xlim=(100,1000),ylim=(10,380));

#### Chart - 10

# Top ten Highest listing neighourhood

In [ ]:
# Chart - 11 visualization code
# find listing value of all neighourhood in dataset
neighour=df.neighbourhood.value_counts().sort_values(ascending=False).reset_index()
#top ten neighourhood with listing value
top_10=neighour[:10]
top_10

#m.rename(columns={'index': 'newName1', 'neighourhood': 'newName2'}, inplace=True)

In [ ]:
#make copy of top_10
final_10=top_10.copy()
#rename that dataframe
final_10.rename(columns={'index':'neighourhood','neighbourhood':'listing_value' },inplace=True)

final_10

In [ ]:
# data visualizing with barplot
sns.set(rc={'figure.figsize':(15,10)})
sns.set_style('white')
#Plotting the Chart
abc= sns.barplot(x='neighourhood', y='listing_value',data = final_10)
abc.set_title('find total no. nights spend per location')
# Naming X & Y axis
abc.set_ylabel('listing value')
abc.set_xlabel('neighourhood')
#Adjusting Bar labels

abc.set_xticklabels(abc.get_xticklabels(),rotation = 45,size='15')

#### Chart - 11

# Find total no. nights spend per location

In [ ]:
# Chart - 12 visualization code
#  find the maximum(minimum nights) spending by customer across different neighourhood group
nights=df.groupby('neighbourhood_group')['minimum_nights'].sum().reset_index()
total_nights=nights.sort_values('minimum_nights',ascending=True)
total_nights

In [ ]:
# visualization of total no. nights spend per location using seaborn
sns.set(rc={'figure.figsize':(10,5)})
sns.set_style('white')
abc= sns.barplot(x='neighbourhood_group',y='minimum_nights',data = total_nights)
abc.set_title('find total no. nights spend per location')
abc.set_ylabel('minimum night')
abc.set_xlabel('neighbourhood group')

abc.set_xticklabels(abc.get_xticklabels(),rotation = 45,size='15')

# Manhattan is the best location  where most of the peoples are spent there nights

# **Conclusion**

### 1   i check the average price of room and  at which place the room is located  so i have clearly seen that the manhattan has the average price is above 200 and the room type is home/aprt

## > I use  a barplot for the comparision


# **> most people  prefered the entire home or apt **

# **> most of the guests  in airbnb visited in Manhattan**

# > mostly customers pay the highest price in manhattan

# **> According to the data that i visualize  most of the  rooms are full which means ijf we fing the room in manhattan as a guest so it is mostly booked **

# **> Most of the host are active in Manhattan **

# >According to data that i visualize if we want startup a same type of business as per the  location and rooms and many more things  so i can clearly see that Manhattan is the best place for the business